{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": false,
  "arrowParens": "always",
  "printWidth": 120,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true
}
