name: Release and publish

on:
  workflow_dispatch:
    inputs:
      release_to_npm:
        description: 'True to release to public npmjs.org registry'
        required: true
        type: boolean
        default: true
      release_to_github:
        description: 'True to release to internal Github Packages registry'
        required: true
        type: boolean
        default: true

jobs:
  release:
    uses: ZaiusInc/node-sdk/.github/workflows/reusable-release.yaml@master
    secrets:
      githubPackagesToken: ${{ secrets.GHA_PAT }}
      gitReleasesToken: ${{ secrets.RELEASE_GITHUB_TOKEN }}
    with:
      release_to_npm: ${{ inputs.release_to_npm }}
      release_to_github: ${{ inputs.release_to_github }}
      release_tag: release-2
